[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = [
  'npm ci --workspace=backend --include-workspace-root'
]

[phases.build]
cmds = [
  'npm run build --workspace=backend'
]

[start]
cmd = 'npm run start:prod --workspace=backend'
